@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 20px;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size:5px !important;
}

table, tbody, tr, th, td {
  border: 2px solid black;
}

.message {
  border: 1px solid black;
  padding: 25px;
  margin: 25px;
}