@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  flex-direction: column;
  margin-bottom: 75px;
}

.create-form {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

table, tbody, tr, th, td {
  border: 2px solid black;
}

.message {
  border: 1px solid black;
  width: 700px;
  padding: 25px;
  margin: auto;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.navbar {
  border: 1px solid black;
  padding: 20px 300px;
  margin: 25px;
}

.navbar2 {
  border-bottom: 1px solid black;
  padding: 25px;
}